/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(../fonts/TitilliumWeb-Regular.ttf)  format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.badge {
    /* padding: 3px; */
    font-weight: normal;
    display: inline;
    font-size: 15px;
    margin: 5px;
    padding: 1px 2px 1px 2px;
}
code{
    margin: .3rem;
    color: #f5fafe;
    background-color: #999;
}
body{
    background: url(http://7sbmib.com1.z0.glb.clouddn.com/body_background1.png);
    font-size: 1.0rem;
    font-family: 'Titillium Web', sans-serif!important;
}
.page-header{
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #A9A9A9;
}
.easeText {
    background: #9E9E9E;
    text-shadow: none;
    color: #9E9E9E;
    display: inline;
}
h3{
    font-size: 1.5rem;
}
blockquote {
    border-left: 5px solid #bdbdbd;
    padding: 5px 5px;
    margin: 0 0 0;
    color: darkred;
}
blockquote p{
    margin: 0.2rem;
}
.row{
    margin-right: 30px;
    margin-left: 30px;
}
pre{
    background-color: #f5f5f5;
    padding: 0.5rem;
    border-radius: 4px;
}
@media(max-width:480px) {
    .container-fluid {
        padding-right: 0px;
        padding-left: 5px;
    }
    .row{
        margin-right: 0px;
        margin-left: 0px;
    }
}

@font-face{font-family:"FZLTXIHJW";src:url("../fonts/FZLTXIHJW.woff2") format("woff2"),url("../fonts/FZLTXIHJW.woff") format("woff"),url("../fonts/FZLTXIHJW.ttf") format("truetype"),url("../fonts/FZLTXIHJW.eot") format("embedded-opentype"),url("../fonts/FZLTXIHJW.svg") format("svg")}del{text-decoration:line-through !important}.badge{font-size:14px !important}.badge-secondary{background-color:rgba(39,38,38,0.7)}.badge-warning{color:#fff}.badge-primary{background-color:#0275d8}.text-primary{color:#0275d8}body{font-family:"FZLTXIHJW", sans-serif !important;text-shadow:0.01em 0.01em 0.01em #000 !important;background-color:#ddd !important}code.highlighter-rouge{color:#fff;background-color:rgba(39,38,38,0.7)}.page-header{padding-bottom:9px;margin:40px 0 20px;border-bottom:1px solid #636c72}.easeText{background:#ddd;text-shadow:none;color:#ddd;display:inline}h1{font-size:1.8rem !important}h2{padding-top:2rem;font-size:1.6rem !important}h3{font-size:1.4rem !important}h4,h5,h6{font-size:1.2rem !important}h1,h2,h3,h4,h5,h6{line-height:2 !important;font-weight:800 !important}h1,h2{color:#0275d8}blockquote{border-left:5px solid #636c72;padding:5px 5px;margin:0 0 0;color:darkred}blockquote p{margin:0rem 0rem 1rem 0.2rem}em{display:block;color:#636c72}.row{margin-right:30px;margin-left:30px}@media (max-width: 480px){.container-fluid{padding-right:0px;padding-left:5px}.row{margin-right:0px;margin-left:0px}}.table thead th{border-bottom:2px solid #636c72;border-top:1px solid #636c72}.table td,.table th{border-top:1px solid #636c72;border-bottom:1px solid #636c72}
