  <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="page-header" id="archives">
                            <h3 class="d-inline"><strong>所有文章</strong></h3>
                            <input type="text" class="d-inline form-control ml-3 w-50" id="post-search" placeholder="Press enter to search..." autocomplete="off">
                        </div>
                        <ul class="ant-timeline" id="archivelist">


                            {% comment %} Stickie list {% endcomment %}
                            {% for post in site.posts %}

                            {% if post.stickie != true %}
                            {% continue %}
                            {% endif %}


                            <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-danger">{{ post.date | date: "%Y-%m-%d" }} </span>
                                    <div class="d-flex align-items-center post-title">
                                     <a class="post-link text-danger h5 text-danger" href="{{site.url}}{{site.baseurl}}{{ post.url}}">{{ post.title }}</a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}


                            {% comment %} Normal post list {% endcomment %}
                            {% for post in site.posts %}

                            {% comment %} If it already showed in stickie list {% endcomment %}
                            {% if post.stickie == true %}
                            {% continue %}
                            {% endif %}

                            <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">{{ post.date | date: "%Y-%m-%d" }} </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="{{site.url}}{{site.baseurl}}{{ post.url}}">{{ post.title }}</a>
                                     </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="page-header" id="archives">
                            <h4><strong>生活随笔</strong></h4>
                        </div>
                      <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-danger">2019-12-31 </span>
                                    <div class="d-flex align-items-center post-title">
                                     <a class="post-link text-danger h5 text-danger" href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/2019/12/31/The-year-of-2019.html">Time To Waste，Life To Spend</a>
                                    </div>
                                </div>
                            </li>
                        
                           <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-danger">2019-06-08 </span>
                                    <div class="d-flex align-items-center post-title">
                                     <a class="post-link text-danger h5 text-danger" href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/%E6%8A%80%E6%9C%AF%E6%97%A5%E5%BF%97/2019/06/08/Aloha.html">Aloha</a>
                                    </div>
                                 
                                </div>
                            </li>
                      <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-06-09 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/2019/06/09/%E5%B1%B1%E4%B8%98.html">山丘</a>
                                     </div>
                                </div>
                            </li>
                      <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-06-15 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/2019/06/15/%E6%96%B0%E7%8E%A9%E5%85%B7-Sony-1AM2.html">新玩具——Sony 1AM2</a>
                                     </div>
                                </div>
                            </li>
                      <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-06-16 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/2019/06/16/%E5%9C%B0%E4%B9%85%E5%A4%A9%E9%95%BF%E5%A4%AA%E9%95%BF%E4%BA%86.html">地久天长太长了</a>
                                     </div>
                                </div>
                            </li>
                            
                       <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-07-03 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/2019/07/03/%E5%86%8D%E7%9C%8B-%E5%A3%AB%E5%85%B5%E7%AA%81%E5%87%BB.html">士兵还能突击吗</a>
                                     </div>
                                </div>
                            </li>
                      
                       <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-08-10 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/2019/08/10/%E8%8B%A6%E7%93%9C.html">Bitter Gourd</a>
                                     </div>
                                </div>
                            </li>
                      
                       <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-09-17 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/2019/09/17/%E5%B0%BE%E5%A3%B0%E5%95%A6-%E5%A4%8F%E5%A4%A9.html">尾声啦，夏天</a>
                                     </div>
                                </div>
                            </li>
                      
                      <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-10-02 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/2019/10/02/%E9%80%81%E4%BD%A0%E5%AE%9D%E9%A9%AC%E8%89%AF%E9%A9%B9.html">送你宝马良驹</a>
                                     </div>
                                </div>
                            </li>
                      
                      <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-11-12 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/2019/11/12/%E6%88%91%E5%B8%8C%E6%9C%9B%E8%87%AA%E5%B7%B1%E8%83%BD%E8%BF%87%E5%BE%97%E5%A5%BD%E4%B8%80%E7%82%B9.html">FYH</a>
                                     </div>
                                </div>
                            </li>
                      
                      <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-12-11 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/2019/12/11/%E7%9C%9F%E7%9A%84%E4%B8%8D%E7%AE%97%E4%BB%80%E4%B9%88.html">真的不算什么</a>
                                     </div>
                                </div>
                            </li>
                      
                      <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2020-01-08 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/2020/01/08/%E6%80%8E%E4%B9%88%E6%89%8D%E8%83%BD%E7%9D%A1%E5%BE%97%E5%A5%BD.html">怎样才能睡得好</a>
                                     </div>
                                </div>
                            </li>
                      <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2020-01-09 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E7%94%9F%E6%B4%BB%E9%9A%8F%E7%AC%94/2020/01/09/%E6%89%93%E5%9B%9E%E5%8E%9F%E5%BD%A2.html">怪人志异</a>
                                     </div>
                                </div>
                            </li>
                      
                        <div class="page-header" id="archives">
                            <h4><strong>技术日志</strong></h4>
                        </div>
                      
                       <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-06-10 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E6%8A%80%E6%9C%AF%E6%97%A5%E5%BF%97/2019/06/10/%E9%80%9A%E8%BF%87Huawei_Ansible_Modules%E4%B8%8B%E5%8F%91%E9%85%8D%E7%BD%AE%E5%88%B0NE%E7%B3%BB%E5%88%97%E8%B7%AF%E7%94%B1%E5%99%A8.html">通过Ansible-Modules下发配置到华为NE系列路由器</a>
                                     </div>
                                </div>
                            </li>
                       <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-06-13 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E6%8A%80%E6%9C%AF%E6%97%A5%E5%BF%97/2019/06/13/%E9%80%9A%E8%BF%87Ansible-Playbook%E4%B8%8B%E5%8F%91%E9%85%8D%E7%BD%AE%E5%91%BD%E4%BB%A4%E5%88%B0%E5%8D%8E%E4%B8%BANE%E8%B7%AF%E7%94%B1%E5%99%A8.html">通过Ansible-Playbook下发配置命令到华为NE路由器</a>
                                     </div>
                                </div>
                            </li>
                      <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-06-14 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E6%8A%80%E6%9C%AF%E6%97%A5%E5%BF%97/2019/06/14/%E8%BF%98%E6%98%AF%E5%86%99%E4%B8%AAshell%E6%9D%A5%E5%AE%9E%E7%8E%B0%E5%90%A7.html">用shell配合ansible-playbook实现简单命令的自动化配置</a>
                                     </div>
                                </div>
                            </li>
                      <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-06-17 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E6%8A%80%E6%9C%AF%E6%97%A5%E5%BF%97/2019/06/17/%E5%85%B3%E4%BA%8EDocker.html">关于Docker</a>
                                     </div>
                                </div>
                            </li>
                       <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-07-19 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E6%8A%80%E6%9C%AF%E6%97%A5%E5%BF%97/2019/07/19/%E6%9C%AA%E5%86%B3%E7%9A%84%E9%9A%BE%E9%A2%98.html">ansible版本与华为feature package的兼容性问题</a>
                                     </div>
                                </div>
                            </li>
                      <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-08-20 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E6%8A%80%E6%9C%AF%E6%97%A5%E5%BF%97/2019/08/20/Centos7%E9%83%A8%E7%BD%B2FTP%E6%9C%8D%E5%8A%A1.html">CeotOS7部署FTP服务</a>
                                     </div>
                                </div>
                            </li>
                      <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-09-09 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E6%8A%80%E6%9C%AF%E6%97%A5%E5%BF%97/2019/09/09/pip3%E5%8D%87%E7%BA%A7%E7%9A%84%E4%B8%80%E4%B8%AA%E7%BB%86%E8%8A%82.html">PIP3升级的一个细节</a>
                                     </div>
                                </div>
                            </li>
                        <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-09-25 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E6%8A%80%E6%9C%AF%E6%97%A5%E5%BF%97/2019/09/25/%E5%85%B3%E4%BA%8E%E8%B7%AF%E7%94%B1Community%E7%9A%84route-map%E5%92%8CCommunity-list.html">基于BGP Community和Route-map控制路由</a>
                                     </div>
                                </div>
                            </li>
                      <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-10-25 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E6%8A%80%E6%9C%AF%E6%97%A5%E5%BF%97/2019/10/25/%E5%85%B3%E4%BA%8EeVPN.html">关于eVPN</a>
                                     </div>
                                </div>
                            </li>
                          
                            <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-10-15 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E6%8A%80%E6%9C%AF%E6%97%A5%E5%BF%97/2019/10/15/%E5%85%B3%E4%BA%8EVxLAN.html">关于VxLAN</a>
                                     </div>
                                </div>
                            </li>
                      <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-12-01 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E6%8A%80%E6%9C%AF%E6%97%A5%E5%BF%97/2019/12/01/%E5%85%B3%E4%BA%8Edpdk.html">关于dpdk</a>
                                     </div>
                                </div>
                            </li>
                      <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2019-12-27 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E6%8A%80%E6%9C%AF%E6%97%A5%E5%BF%97/2019/12/27/%E8%B7%AF%E7%94%B1%E6%B3%84%E6%BC%8F.html">关于路由泄漏的简单研究</a>
                                     </div>
                                </div>
                            </li>
                      
                       <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">2020-01-09 </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="/%E6%8A%80%E6%9C%AF%E6%97%A5%E5%BF%97/2020/01/09/%E5%85%B3%E4%BA%8Epython%E7%9A%84%E5%B0%8F%E9%97%AE%E9%A2%981.html">python中"if __name__ == '__main__':"的作用</a>
                                     </div>
                                </div>
                            </li>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
