  <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="page-header" id="archives">
                            <h3 class="d-inline"><strong>生活的奇点</strong><p>Alpha Lab</p></h3>
                            <input type="text" class="d-inline form-control ml-3 w-50" id="post-search" placeholder="Press enter to search..." autocomplete="off">
                        </div>
                        <ul class="ant-timeline" id="archivelist">


                            {% comment %} Stickie list {% endcomment %}
                            {% for post in site.posts %}

                            {% if post.stickie != true %}
                            {% continue %}
                            {% endif %}


                            <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-danger">{{ post.date | date: "%Y-%m-%d" }} </span>
                                    <div class="d-flex align-items-center post-title">
                                     <a class="post-link text-danger h5 text-danger" href="{{site.url}}{{site.baseurl}}{{ post.url}}">{{ post.title }}</a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}


                            {% comment %} Normal post list {% endcomment %}
                            {% for post in site.posts %}

                            {% comment %} If it already showed in stickie list {% endcomment %}
                            {% if post.stickie == true %}
                            {% continue %}
                            {% endif %}

                            <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-primary">{{ post.date | date: "%Y-%m-%d" }} </span>
                                    <div class="d-flex align-items-center post-title">
                                        <a class="post-link h5 text-primary" href="{{site.url}}{{site.baseurl}}{{ post.url}}">{{ post.title }}</a>
                                     </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="page-header" id="archives">
                            <h4><strong>这就是生活</strong><p>C' est La Vie!</p></h4>
                        </div>
                        
                           <li class="ant-timeline-item">
                                <div class="ant-timeline-item-content">
                                    <span class="badge badge-danger">2019-06-07 </span>
                                    <div class="d-flex align-items-center post-title">
                                     <a class="post-link text-danger h5 text-danger" href="/%E6%8A%80%E6%9C%AF%E6%98%AF%E4%BB%80%E4%B9%88/2019/06/07/Aloha.html">Aloha</a>
                                    </div>
                                </div>
                            </li>
                        <div class="page-header" id="archives">
                            <h4><strong>技术是什么</strong><p>Is that edible?</p></h4>
                        </div>
                        
                    </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
