
<div class="d-flex flex-column text-white font-weight-bold jumbotron justify-content-center" id="jumbotron" style="background: url({{site.url}}{{site.baseurl}}/img/bg.jpg) no-repeat scroll;background-size: cover;>
	
        <p class="display-4 animated font-weight-bold"> Mr.Kafka's Singular Spot </p>
	<p class="text-white animated font-weight-bold display-5">Kafka先生的生活奇点</p>

	<p class="lead">
		<a class="btn-sm btn-primary animated fadeInLeft" href="about.html#archivelist" role="button">Alpha Lab</a>     
	</p>
	<p id="sentence_of_the_day" class="text-white h6 animated fadeInUp">Trust is the easiest thing in the world to lose,and the hardest thing in the world to get back.</p>
</div>
