<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid" id="post-content">
        <div class="row">
            <div class="col-md-12">
              <div class="progress fixed-top" id="reading-progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="page-header">
                    <h1 class="text-danger">
                        {{ page.title }}
                    </h1>
                    {{ page.date | date: "%Y-%m-%d" }}
                </div>
                <p id="bgm"></p>
<script>
              function  Function(){
    arrMusicID = [1091088,27471609,26875199,27723552,26090100,26090100,26193921,501467597,19282045,306709,5299097,27471615,31062378,139443];  //musicID array
    musicID = Math.floor(Math.random()*(arrMusicID.length)) //get a ran num as index
    $('body').css('height',document.documentElement.clientHeight -5);

    if (!Number.isInteger(arrMusicID[musicID])) return; // load failed, bye~
    
    var iframe = document.createElement('iframe');
    iframe.id="bgm";
    iframe.style = "position: absolute; top: 0px; left: 0px; border: 0px;";
    iframe.src = '//music.163.com/outchain/player?type=2&id=' +arrMusicID[musicID]+ '&auto=1&height=32';
    console.log(iframe.src)
    iframe.frameborder="no";
    iframe.marginwidth="0";
    iframe.marginheight="0";
    iframe.width=250;
    iframe.height=52;
    document.body.appendChild(iframe);
}
              </script>
                {{ page.content | markdownify }}

                <!-- don't delete this div, this is marked as the end position of collapse plugin  -->
                <div id="content-end"></div>
                <div class="page-header">
                  
               </div>
             
            </div>

        </div>
    </div>
<!-- /#page-content-wrapper -->
